body {
    margin: 0;
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pad{
    width: 70px;
    height: 70px;
    background-color: purple;
}

.boite {
    display: flex;
    width: 295px;
    gap: 5px;
    flex-wrap: wrap;
}

.press {
    background-color: chartreuse;
}